#hud-container {
    z-index: 7;
    pointer-events: none;
}

/* Arrows */
#hud-arrows {
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;
}
#hud-arrow-left {
    display: none;
}
#hud-arrow-right {
    display: none;
}

/* Health Bars */
#hud-health {
    visibility: hidden;
    width: 50%;
    margin: 5% auto 1% auto;
    gap: 5%;
    color: #3d1a23;
    text-transform: uppercase;
}
.hp-bar {
    display: block;
    height: 30px;
    border: 1px solid #3d1a23;
    background-color: #411c01;
    border-bottom: 3px solid #3d1a23;
    padding: 3px;
}
.hp-fill {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #cb7233;
}
#hp-player {
    position: relative;
}

/* Round Count */
#hud-round {
    z-index: 6;
    visibility: hidden;
    text-align: center;
    font-size: calc(1.5em + 1vmin);
    color: #3d1a23;
}

/* Get Ready */
#hud-ready {
    width: 100%;
    visibility: hidden;
    position: absolute;
    bottom: 25%;
    font-size: calc(1.5em + 1vmin);
    text-align: center;
    z-index: 4;
    color: #3d1a23;
    animation: blinker .75s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Feedback */
#hud-feedback {
    position: absolute;
    width: 100%;
    visibility: visible;
    top: 35%;
    z-index: 4;

    font-size: calc(.5em + 1vmin);
    text-align: center;
}