.menu-info-box {

    position: relative;
    width: 480px;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7% 5%;

    border-radius: 5px;
    border: 2px solid #3d1a23;
    box-shadow: 1px 3px 5px #000;

    text-align: center;
    color: #3d1a23;
    background-color: #f1e2c6;
    background-color: rgba(241, 224, 198, .8);
    font-size: calc(1.1em + 1vmin);
}
.menu-info-box h2 {
    font-family: 'Gajraj One', cursive;
    font-size: calc(1.5em + 1vmin);
}
.menu-info-box p {
    margin: 5% 0;
}

/* Game Logo */
#logo-container {
    z-index: 5;
}
#logo-holder {
    justify-content: center;
}
#logo-img {
    display: block;
    max-width: 90%;
    margin: auto;
    transform: translate(0, -75%);
}

/* Main Menu */
#menu-container {
    z-index: 7;
}
#menu-holder {
    flex-direction: column;
    transform: translate(0, 200%);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #000;
    font-family: 'Gajraj One', cursive;
    font-size: calc(2em + 1vmin);
    color: #3d1a23;
}
.menu-item {
    cursor: pointer;
}
.menu-active {
    color: #da9637;
}
.menu-active::before {
    content: "> ";
}
.menu-active::after {
    content: " <";
}

/* How To Play */
#how-container {
    z-index: 8;
    visibility: hidden;
}

/* Credits */
#credits-container {
    z-index: 8;
    visibility: hidden;
}
#credits-holder {
    width: 640px;
}
#credits-holder p {
    font-size: calc(.5em + 1vmin);
}
#credits-holder #credits-specific {
    font-size: calc(.3em + 1vmin);
    color: #000;
}

/* Choice Selection */
#select-container {
    z-index: 8;
    visibility: hidden;
}
#select-holder {
    
    max-width: 80%;
    margin: auto;
    padding: 15% 0;
    text-align: center;

    line-height: 150%;
    color: #3d1a23;
}
#choice-title {
    margin: 1% auto;
    font-family: 'Gajraj One', cursive;
    font-size: calc(2em + 1vmin);
}
#choice-subtitle {
    font-family: 'Kanit', sans-serif;
    font-size: calc(1em + 1vmin);
}

#select-choices {
    margin: 30% auto;
    width: 250px;
}
.choice-active {
    border-top: 2px solid #3d1a23;
    border-bottom: 2px solid #3d1a23;
    background-color: #ffffff;
}